.title{
    text-align: center;
    font-family: 'Kalnia', serif;
}

.ma{
    margin-bottom: 30px;
}
.btn{
    text-align: center;
    width: auto;
}


.col-sm{
    text-align: center;
    
}