.title{
    text-align: center;
    font-family: 'Kalnia', serif;
}

.ma{
    margin-bottom: 30px;
}
.btn{
    position: relative;
    left: 35%;
}


.ist{
    margin-top: 40px;
    
    
}

.head{
    font-family: 'Kalnia', serif;

}
.bt{
    position: relative;
    left: 45%;
}